REPLICATION_FACTOR=3
STORAGE_NODES=http://storage1:8001,http://storage2:8002,http://storage3:8003,http://storage4:8004
DEFAULT_RECOVERY_RATE_MBPS=50
MIN_RECOVERY_RATE_MBPS=5
MAX_RECOVERY_RATE_MBPS=100
CONTROLLER_SAMPLE_SECONDS=2
